<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.act.libero.repository.ScheduleEditMapper">

<resultMap id="ScheduleEditResultMap" type="com.act.libero.entity.ScheduleEdit">
    <id property="scheduleId" column="schedule_id"/>
    <result property="groupId" column="users_group_id"/>
    <result property="userId" column="user_id"/>
    <result property="titleName" column="title_name"/>
    <result property="fromDateTime" column="from_date_time"/>
    <result property="toDateTime" column="to_date_time"/>
    <result property="address" column="address"/>
    <result property="memo" column="memo"/>
    <result property="announceFlag" column="announce_flag"/>
    <result property="createdUserId" column="created_user_id"/>
    <result property="createdAt" column="created_at"/>
    <result property="updatedUserId" column="updated_user_id"/>
    <result property="updatedAt" column="updated_at"/>
</resultMap>

    <select id="getScheduleInfo" resultMap="ScheduleEditResultMap">
        SELECT *
        FROM schedule
        WHERE schedule_id = #{scheduleId}
    </select>

    <insert id="register">
        INSERT INTO schedule
        (
            schedule_id,
            users_group_id,
            user_id,
            title_name,
            from_date_time,
            to_date_time,
            address,
            memo,
            announce_flag,
            created_user_id,
            created_at,
            updated_at,
            delete_flag,
            deleted_at
        )
        VALUES
        (
            #{scheduleId},
            #{groupId},
            #{userId},
            #{titleName},
            #{fromDateTime},
            #{toDateTime},
            #{address},
            #{memo},
            #{announceFlag},
            #{userId},
            CURRENT_TIMESTAMP(),
            CURRENT_TIMESTAMP(),
            '0',
            null
        )

    </insert>

    <update id="edit">
        UPDATE schedule
        SET users_group_id = null,
            title_name = #{titleName},
            from_date_time = #{fromDateTime},
            to_date_time = #{toDateTime},
            address = #{address},
            memo = #{memo},
            announce_flag = #{announceFlag},
            updated_user_id = #{userId},
            updated_at = CURRENT_TIMESTAMP()
        WHERE schedule_id = #{scheduleId}
    </update>

    <select id="getLineToken" resultType="String">
        SELECT line_token_id
        FROM line_token
        WHERE users_group_id = #{groupId}
        AND delete_flag = '0';
    </select>

</mapper>