body{
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0px;
    border-top: 0.2vw solid;
}
.common_footer{
    text-align: center;
}

.disp_mode{
    display: inline-block;
    width: 31vw;
    padding: 10px 0px;
    color: #ff8400;
}

.current_select{
    display: inline-block;
    width: 31vw;
    padding: 10px 0px;
    background-color: #ff8400;
    color: white;
}

.common_footer i{
    font-size: 6vw;
}
.common_footer p{
    display: block;
    margin: 0px;
    font-size: 4vw;
}