<!DOCTYPE html>
<html lang="ja">

<head th:replace="common :: meta_footer('top',~{::link},~{::script})">
    <link th:href="@{/css/calendarDisplay.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>カレンダー表示画面</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/calendarDisplay.js}"></script>

<body style="margin: 0px;">
    <div class="main_contents">
        <div style="height: 114vw;">
            <div class="plus_contents contents">
                <div class="logout">
                    <a href="login.html">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </a>
                </div>
                <div class="addsk">
                    <a href="scheduleEdit.html">
                        <i class="fa-solid fa-square-plus"></i>
                    </a>
                </div>
            </div>
            <div class="contents">
                <select id="select_year" name="year" onchange="selectYearChange()">
                </select>
            </div>
            <div class="contents">
                <p class="back_month" onclick="back_month()">＜＜</p>
                <select id="select_month" name="month" onchange="selectMonthChange()">
                </select>
                <p class="next_month" onclick="next_month()">＞＞</p>
            </div>
            <div id="calendar">
            </div>
        </div>
        <div class="table_contents" style="display: none;">
            <div class="table_contents_div" style="height: 100%;overflow: auto;">
                <table>
                    <tbody>
                        <tr id="20231211">
                            <td><a href="scheduleDetail.html">中帰社20231211</a></td>
                        </tr>

                        <tr id="20231208">
                            <td><a href="scheduleDetail.html">中帰社20231208</a></td>
                        </tr>
                        <tr id="20231213">
                            <td><a href="scheduleDetail.html">中帰社20231213</a></td>
                        </tr>
                        <tr id="20231211">
                            <td><a href="scheduleDetail.html">中帰社20231211</a></td>
                        </tr>
                        <tr id="20231219">
                            <td><a href="scheduleDetail.html">中帰社20231219</a></td>
                        </tr>
                        <tr id="20231201">
                            <td><a href="scheduleDetail.html">中帰社20231201</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="common :: footer"></div>
</body>

</html>