​​
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_footer(title,links,scripts)">
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<script src="../js/common.js"></script>
<body oncontextmenu="return false;">
    <footer id="footer" th:fragment="footer">
        <div class="common_footer">
            <div class="def_dis disp_mode">
                <i class="fa-solid fa-user"></i>
                <p><a th:href="@{/calendarDisplay(group='0')}">プライベート</a></p>
            </div>
            <div class="grp_typ disp_mode">
                <i class="fa-solid fa-people-group"></i>
                <p><a th:href="@{/calendarDisplay(group='1')}">グループ</a></p>
            </div>
            <div class="disp_mode">
                <i class="fa-solid fa-house"></i>
                <p th:if="${session.authorityNo} == 0"><a th:href="@{/userSelect}">アカウント</a></p>
                <p th:if="${session.authorityNo} == 1"><a th:href="@{/userEdit}">アカウント</a></p>
            </div>
        </div>
    </footer>
</body>

</html>