<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="content-language" content="ja">
    <meta name="robots" content="noindex,nofollow">
    <meta charset="UTF-8">
    <link th:href="@{/css/login.css}" rel="stylesheet">

    <title>ログイン画面</title>
</head>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script th:src="@{/js/login.js}"></script> 

<body>
    <div class="main_contents">
        <div class="contents">
            <p class="title">Libero</p>
        </div>
        <form th:action="@{/certification}" th:object="${LoginInfo}" method="post" id="form">
            <div class="contents">
                <span th:if="${errorMessage}!= null" th:text="${errorMessage}" class="error_tbox"></span>
                <input type="text" maxlength="20" name="userid" placeholder="ユーザID">
                <span th:if="${errorMessageUserId}!= null" th:text="${errorMessageUserId}" class="error_tbox"></span>
                <input type="password" maxlength="20" name="password" placeholder="パスワード">
                <span th:if="${errorMessagePassword}!= null" th:text="${errorMessagePassword}" class="error_tbox"></span>
            </div>

            <div class="contents">
                <input type="submit" value="ログイン" id="login_btn">
                <p class="login_error" style="display: none;">ログインIDまたはパスワードに誤りがあります。</p>
            </div>
        </form>
        <div class="contents">
            <p id="send_mail">IDやパスワードを忘れてしまった場合</p>
        </div>
    </div>

</body>

</html>