<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: meta_footer('top',~{::link},~{::script})">
    <link th:href="@{/css/scheduleDetail.css}" rel="stylesheet">
    <title>スケジュール詳細画面</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/scheduleEdit.js}"></script> 

<body>
    <header>
        <form method="post" id="form">
            <div class="button-left">
                <button class="header-button" type="button" onclick="location.href='./calendarDisplay.html'"><img src="./img/back.png" alt="戻る"/></button>
            </div>
            <div class="button-right">
                <button class="header-button" type="button" onclick="location.href='./scheduleEdit.html'"><img src="./img/edit.png" alt="編集"/></button>
                <button class="header-button" type="button" id="modal_open" name="modal_open"> <img src="./img/delete.png" alt="削除"/></button>
            </div>
        </form>
    </header>

    <div class="schedule">
        <table>
            <tr class="schedule-title">
                <td></td>
                <td>中帰社</td>
            </tr>
            <tr class="schedule-clock">
                <td><img src="./img/clock.png" alt="日時アイコン"></td>
                <td>11  月　24  日　（ 水 ）</td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td>14 : 00  ～</td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td>11  月　24  日　（ 水 ）</td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td>21 : 00</td>
            </tr>
            <tr class="schedule-address">
                <td><img src="./img/address.png" alt="場所アイコン"></td>
                <td>東京都新宿区新宿1-11-5 不二越ビル4F</td>
            </tr>
            <tr class="schedule-memo">
                <td><img src="./img/memo.png" alt="説明アイコン"></td>
                <td>健康診断ありのため注意。</td>
            </tr>
            <tr class="schedule-person">
                <td><img src="./img/icon.png" alt="人物アイコン"></td>
                <td>菊地恭平</td>
            </tr>
            <tr class="schedule-section">
                <td></td>
                <td>グループスケジュール</td>
            </tr>
        </table>
    </div>


    <!-- モーダル画面 -->
    <div class="modal_box">
        <div id="modal-content">
            <div id="modal-right">
                <p><a id="modal-cancel" class="button-link">×</a></p>
            </div>
            <p>スケジュールを削除しますか？</p>
            <p><a href="./calendarDisplay.html">OK</a></p>
            <p><a id="modal-cancel2" class="button-link">戻る</a></p>
        </div>
    </div>
      <script src="../js/scheduleDetail.js"></script> 
      <div th:replace="common :: footer"></div>
</body>

</html>