<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: meta_footer('top',~{::link},~{::script})">
    <link th:href="@{/css/scheduleEdit.css}" rel="stylesheet">
    <title>スケジュール編集画面</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/scheduleEdit.js}"></script> 

<body>
    <form action="#" th:action="@{/scheduleEdit/register}" th:object="${items}" method="post" id="form">
        <div class="parent_box">
            <div class="title_box">
                <p>タイトル</p>
                <input type="text" name="title" th:field="*{titleName}" th:value="${items.titleName != null ? items.titleName : ''}">
            </div>
            <p class="error error_title" style="display: none;"></p>
        </div>
        <div class="parent_box">
            <div class="date_box">
                <input type="date" id="from_date" name="from_date" th:value="${items.fromDateTime != null ? #dates.format(items.fromDateTime, 'yyyy-MM-dd') : ''}">
                <input type="time" id="from_time" name="from_time" th:value="${items.fromDateTime != null ? #dates.format(items.fromDateTime, 'HH:mm') : ''}">
                <input type="hidden" id="fromDateTime" name="from_datetime" th:field="*{fromDateTime}"> 
                <p>～</p>
                <input type="date" id="to_date" name="to_date" th:value="${items.toDateTime != null ? #dates.format(items.toDateTime, 'yyyy-MM-dd') : ''}">
                <input type="time" id="to_time" name="to_time" th:value="${items.toDateTime != null ? #dates.format(items.toDateTime, 'HH:mm') : ''}">
                <input type="hidden" id="toDateTime" name="to_datetime" th:field="*{toDateTime}"> 
            </div>
            <p class="error error_from" style="display: none;"></p>
            <p class="error error_to" style="display: none;"></p>
        </div>
        <div class="parent_box">
            <div class="place_box">
                <p>場所</p>
                <input type="text" name="place" th:field="*{address}" th:value="${items.address != null ? items.address : ''}">
            </div>
            <p class="error error_address" style="display: none;"></p>
        </div>
        <div class="parent_box">
            <div class="contents_box">
                <p>説明</p>
                <textarea name="contents" rows="5" cols="400" th:field="*{memo}" th:text="${items.memo != null ? items.memo : ''}"></textarea>
            </div>
            <p class="error error_memo" style="display: none;"></p>
        </div>
        <div class="kbn_box" id ="kbn_box">
            <input type="radio" id="kojin" name="kbn" value="0" th:field="*{calendarType}" th:checked="${items.calendarType == null || items.calendarType.equals('0')}">
            <label for="kojin">個人</label>

            <input type="radio" id="group" name="kbn" value="1" th:field="*{calendarType}" th:checked="${items.calendarType != null && items.calendarType.equals('1')}">
            <label for="group">グループ</label>
        </div>
        <div class="announce_box">
            <label for="announce">開始時に通知する</label>
            <input type="checkbox" id="announce" name="announce" value="1" style="transform: scale(5);" disabled="">
        </div>
        <div class="form_box">
            <input type="button" value="戻る" id="modal_open" name="modal_open">
            <input type="submit" value="登録" id="submit" name="submit">
        </div>
    </form>
    <div class="modal_box">
        <div id="modal-content">
            <p>入力した情報が削除されます。よろしいですか？</p>
            <p><a href="#" onclick="history.back();">OK</a></p>
            <p><a id="modal-cancel" class="button-link">閉じる</a></p>
        </div>
    </div>
<div th:replace="common :: footer"></div>
</body>
<!--iframe src="../common/common.html" frameborder="0" style="width: 100%; position: absolute; bottom: 0px;"></iframe -->

</html>