<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common :: meta_footer('top',~{::link},~{::script})">
    <link th:href="@{/css/scheduleDetail.css}" rel="stylesheet">
    <title>スケジュール詳細画面</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/scheduleEdit.js}"></script> 

<body>
    <header>
        <div class="button-left">
            <form action="#" th:action="@{/calendarDisplay}" method="post">
                <button class="header-button" type="submit"><img src="./img/back.png" alt="戻る"/></button>
            </form>
        </div>
        <div class="button-right">
            <button class="header-button" type="button" id="modal_open" name="modal_open"><img src="./img/delete.png" alt="削除"/></button>
            <form action="#" th:action="@{/scheduleEdit(scheduleId=${scheduleInfo.scheduleId})}" method="post">
                <button class="header-button" type="submit"><img src="./img/edit.png" alt="編集"/></button>
            </form>
        </div>
    </header>

    <div class="schedule">
        <table>
            <tr class="schedule-err">
                <td></td>
                <td th:text="${errMsg}">テスト</td>
            </tr>
            <tr class="schedule-title">
                <td></td>
                <td th:text="${scheduleInfo.titleName}"></td>
            </tr>
            <tr class="schedule-clock">
                <td><img src="./img/clock.png" alt="日時アイコン"></td>
                <td th:text="|${scheduleInfo.fromDate}${scheduleInfo.dayOfWeekFrom}|"></td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td th:text="|${scheduleInfo.fromTime}  ～|"></td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td th:text="|${scheduleInfo.toDate}${scheduleInfo.dayOfWeekTo}|"></td>
            </tr>
            <tr class="schedule-clock">
                <td></td>
                <td th:text="${scheduleInfo.toTime}"></td>
            </tr>
            <tr class="schedule-address">
                <td><img src="./img/address.png" alt="場所アイコン"></td>
                <td th:text="${scheduleInfo.address}"></td>
            </tr>
            <tr class="schedule-memo">
                <td><img src="./img/memo.png" alt="説明アイコン"></td>
                <td th:text="${scheduleInfo.memo}"></td>
            </tr>
            <tr class="schedule-person">
                <td><img src="./img/icon.png" alt="人物アイコン"></td>
                <td th:text="|${scheduleInfo.lastName}${scheduleInfo.firstName}|"></td>
            </tr>
            <tr class="schedule-section">
                <td></td>
                <td th:text="${scheduleInfo.scheduleKbn}"></td>
            </tr>
            <input type="hidden" name="updatedAt" th:value="*{scheduleInfo.updatedAt}">
        </table>
    </div>


    <!-- モーダル画面 -->
    <form method="post" id="delete">
        <div class="modal_box">
            <div id="modal-content">
                <div id="modal-right">
                    <p><a id="modal-cancel" class="button-link">×</a></p>
                </div>
                <p>スケジュールを削除しますか？</p>
                <p><a th:href="@{/scheduleDetail/delete(scheduleId=${scheduleInfo.scheduleId}, scheduleYMD=${scheduleInfo.scheduleYmd}, calendarType=${scheduleInfo.calendarType})}">OK</a></p>
                <input type="hidden" name="updatedAt" th:value="${scheduleInfo.updatedAt}">
                <p><a id="modal-cancel2" class="button-link">戻る</a></p>
            </div>
        </div>
    </form>
    <script src="../js/scheduleDetail.js"></script> 
    <div th:replace="common :: footer"></div>
</body>

</html>